@{
    ViewData["Title"] = "Localização";
}

<h2>Contacte-nos para obter mais informações</h2>

<div class="d-flex justify-content-center">
    <div class="row w-100">
        <div class="col-md-4">
            <div class="card p-4 shadow">
                <h4>Entre em Contato</h4>
                <form>
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Seu nome">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="seuemail@email.com">
                    </div>
                    <div class="mb-3">
                        <label for="mensagem" class="form-label">Mensagem</label>
                        <textarea class="form-control" id="mensagem" rows="4" placeholder="Escreva sua mensagem"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Enviar Mensagem</button>
                </form>
            </div>
        </div>

        <div class="col-md-8 d-flex justify-content-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3751.036606306358!2d-43.9951699239349!3d-19.92286218146393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa696fabcd470ed%3A0x79ebb3d3cea6b4ea!2sPontif%C3%ADcia%20Universidade%20Cat%C3%B3lica%20de%20Minas%20Gerais%20-%20Cora%C3%A7%C3%A3o%20Eucar%C3%ADstico!5e0!3m2!1spt-BR!2sbr!4v1742818642782!5m2!1spt-BR!2sbr"
                    width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</div>


<div class="container mt-4 p-4 border rounded bg-light">
    <h4>Informações de Contato</h4>
    <p><i class="fas fa-map-marker-alt"></i> Endereço: Av. Dom José Gaspar, 500 - Coração Eucarístico, Belo Horizonte - MG, 30535-901</p>
    <p><i class="fas fa-calendar-alt"></i> Dias aberto: Segunda a Sexta, das 08:00 às 18:00</p>
    <p><i class="fas fa-envelope"></i> Email: contato@pucminas.br</p>
    <p><i class="fas fa-phone"></i> Telefone: (31) 3319-4444</p>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">