@{
    ViewData["Title"] = "Tela Home";
    Layout = null;
}
<h1>Bem-vindo ao Meu Site! TELA HOME</h1>
<p>Nessa Tela mostrará um video disponibilizado pelo dentista e especificações de tratamentos dentarios.</p>